# common settings for dev and pro version
# TODO: add deploy script :
#                           1. get latest code and cd to it
#                           2. docker-compose build
#                           3. tag newly built images
#                           4. push to docker hub
#                           5. docker-compose -f..common. -f ..prod up -d
version: '2'
services:
    # receive http connection from client
    web:
        image: nginx
        restart: always
        ports:
            - 80:80
        volumes:
            - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
        volumes_from:
            - volumes_code
        depends_on:
            - lb
        networks:
            - front_tier
    # the load balancer for the php-fpm
    lb:
        image: dockercloud/haproxy
        restart: always
        ports:
            - 1936:1936
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        links:
            - php
        environment:
            - MODE=tcp
            - STATS_AUTH=meow:meow
            - STATS_PORT=1936
        networks:
            - front_tier
            - back_tier
    # the workers
    php:
        image: fzls/php:latest
        volumes_from:
            - volumes_code
        working_dir: /code

        # 1. install dependenies
        # 2. migrate database
        # 3. TODO: add scheduler
        # 4. change file permissions
        # 5. run php-fpm
        command: bash -c "mkdir -p bootstrap/cache && chmod -R 777 storage bootstrap/cache && composer install && php artisan migrate && chmod -R 777 storage bootstrap/cache && php-fpm"
        #environment:
        #    - TCP_PORTS=9000
        #    - VIRTUAL_HOST=oauth.*.*/*
        #    - BALANCE=source
        depends_on:
            - redis
            - db
        networks:
            - back_tier
    # the redis cache service
    redis:
        image: redis
        restart: always
        # TODO: set master/slave
        # TODO: add data for persistence
        networks:
            - back_tier
    # the mysql database service
    db:
        image: mysql
        volumes_from:
            - volumes_data
        restart: always
        # set master/slave
        environment:
            - MYSQL_DATABASE=tasklist
            - MYSQL_ROOT_PASSWORD=meow_meow_meow
            - MYSQL_USER=tasklist
            - MYSQL_PASSWORD=meow_meow_meow
        networks:
            - back_tier
    volumes_code:
        image: tianon/true
        volumes:
            - .:/code
        networks:
            - front_tier
            - back_tier
    volumes_data:
        image: tianon/true
        volumes:
            - ./data/db:/var/lib/mysql
        networks:
            - back_tier
networks:
    front_tier:
        driver: bridge
    back_tier:
        driver: bridge

